html , body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body{
    background-image: url(bgadmin.jpg);
    background-size: cover;
}

/* -------------------------------------------------header-------------------------------------------------- */
.header{
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    /* padding-top: 10px; */

    border-bottom: 2px solid transparent;
    box-shadow: 0 3px 10px rgb(219, 219, 219);

    background: linear-gradient(90deg , rgb(226, 226, 226) , white);
}

.img-acc{
    width: 30px;
    height: 30px;
    border: 3px solid gray ;
    border-radius: 30px;
    background-color: rgb(32, 32, 32);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.account{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
}
/* -------------------------------------------------view--------------------------------------- */
.box-view{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
    padding-top: 100px;

}

.Users-List{
    width: 70%;
    min-height: 300px;
    max-height: none;

    border: 1px solid lightgray;
    border-radius: 20px;

    box-shadow: 0 0 10px gray;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 3px;
    padding-bottom: 10px;
    row-gap: 8px;

    background: linear-gradient(90deg , rgb(212, 209, 209) , rgb(235, 232, 232) , rgb(252, 248, 248));
}

.User-List{
    width: 100%;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    row-gap: 5px;
}

.nav-userlist{
    border-bottom: 1px solid rgb(163, 163, 163);
    box-shadow: 0 2px 5px gray;
    border-radius: 30px;
    width: 100%;
    height: 30px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-weight: bold;
}
/* -------------------------------------------row----------------------------------------------- */
.row-user-show{
    width: 90%;
    height: 35px;
    border: 1px solid lightgray;
    border-radius: 40px;

    box-shadow: 0 0 5px gray;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* -------------------------------------------------------------- */
.Logout:hover{
    color: rgb(17, 17, 17);
    cursor: pointer;
}
/* --------------------------------------------------------------- */
.name-acc , .img-acc{
    font-weight: bold;
}